:root {
    --cor-verde-primaria: #acc474;
    --cor-verde-secundaria: #388e3c;
    --cor-laranja: #F2BB77;
    --cor-verde-escuro: #1c2c04;
    --cor-azul: #2E5EAA;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
}


body{
    background-image: url(/assets/img/desenvolvimento-sustentavel.png);
        background-repeat: no-repeat;
        background-size: cover;
}
header{
    background-color: #00000052;
}

#nav-bar{
    background-color: transparent;
}

.nav-wrapper{
    background-color: transparent;
}

#contato-info{
    display: block;
    text-align: left;
    max-width: 40rem;
    margin: 10% auto;
    border: 1px solid #ccc;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50);
    background-color: #fff;
    
}

#contato-info > h1{
    text-align: center;
    font-size: 2rem;
    color: black;
}

#contato-info > p{
    text-align: center;
}

.pagina-toda{
    height: 75vh;
}