:root {
    --cor-verde-primaria: #acc474;
    --cor-verde-secundaria: #388e3c;
    --cor-laranja: #FF851B;
    --cor-verde-escuro: #1c2c04;
    --cor-azul: #2E5EAA;
    --cor-branco: #ffffff;
    --cor-preto: #000000;

    font-family: 'Montserrat', sans-serif;
}

#background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Ocultar o que passar do contêiner */
}

#videoBackground, #imgBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensionamento para ajuste no contêiner */
}

#imgBackground{
    display: none;
}

@media  screen and (max-width: 992px) {
    #videoBackground{
        display: none;
    }

    #imgBackground{
        display: block;
    }
    
}

.scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down-arrow a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--cor-verde-primaria);
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.scroll-down-arrow a:hover {
    background-color: var(--cor-verde-secundaria);
}

.scroll-down-arrow i {
    color: var(--cor-branco);
    font-size: 30px;
    transform: translateY(3px); /* Centralizar melhor a gota */
}


/* BLOCOS */

.blocos {
    color: var(--cor-branco);
    text-align: center;
    padding: 50px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


/* Sobre nos */
#sobre-nos{
    background-color: var(--cor-verde-primaria);
}
#sobre-nos h2,
#sobre-nos h3 {
    font-weight: bold;
    color: var(--cor-verde-escuro);
    border-bottom: 2px solid var(--cor-verde-escuro);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#sobre-nos p{
    font-size: 20px;
    color: rgb(243, 243, 243);
}

#junte-se {
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-verde-escuro);
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

/* Empresas */
#empresas{
    background-color: rgb(243, 243, 243);
}

#empresas {
    background-color: var(--cor-branco);
    color: var(--cor-verde-escuro);
    text-align: center;
    padding: 50px 0;
}

#empresas h2 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#empresas p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

#empresas #inscreva {
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-branco);
    background-color: var(--cor-verde-escuro);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#empresas #inscreva:hover {
    background-color: var(--cor-verde-secundaria);
    color: var(--cor-branco);
}

