<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas parceiras</title>
</head>

<body>
    <header>
        <!-- navbar -->
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li active><a href="empresas.html">Empresas</a></li>
                <li><a href="empresas-details.html">Detalhe Empresas</a></li>
                <li><a href="classificacao.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main background="teste.jpg">
        
    </main>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="logo.png" alt="Logo da Página de Ecologia">
                </div>
                <div class="footer-info">
                    <p>© 2023 Página de Ecologia</p>
                    <p>Todos os direitos reservados</p>
                    <p>Contato: contato@paginaecologia.com</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../controller/appController.js"></script> <!-- Script para acessar a API e o BD-->
</body>
</html>